*.pyc

.coverage
.pytest_cache
.DS_Store
.env
.venv

.terraform
terraform.tfvars
tfplan

dependency-check-junit.xml
dependency-check-report.html
pytest-report.xml
coverage.xml
creds.json
deploy.json
function.zip
functions.zip
hash

build
node_modules/

.idea
.vscode

htmlcov

__pycache__
!.coveragerc
!dimensions.json

.gcloudignore
.git
.gitignore

cloudbuild-cicd.yaml
